/* Responsive Cascading Style Sheet.
 *
 * Base Style.
 */
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Heading Layout.
 */
h1 {
    margin: 15px;
    text-align: center;
    font-size: 1.75em;
}

/* Column Layout.
 */
[class*="col-"] {
    padding: 30px 2px 0 2px;
    text-align: center;
    border: 1px solid black;
    height: 140px;
    overflow: auto;
    position: relative;
    margin: 1%;
}

.col-1 {
    background-color: teal;
}

.col-2 {
    background-color: tomato;
    
}

.col-3 {
    background-color: #999999;
}

/* Title Layout.
 */
[class*="title-"] {
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    clear: both;
    background-color: cornflowerblue;
    padding: 2px;
    font-size: 1.25em;
}

/* Responsive Design.
 *
 * Large Devices.
 */
@media (min-width: 992px) {
    .col-1, .col-2, .col-3 {
        width: 31.33%;
        float: left;
    }
}

/* Medium Devices.
 */
@media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2 {
        width: 48%;
        float:left;
    }
    .col-3 {
        width: 98%;
        float: left;
    }
}

/* Small Devices.
 */
@media (max-width: 767px) {
    .col-1, .col-2, .col-3 {
        width: 98%;
        float: left;
    }
}
